<div class="led-container">
  <div class="led-content">
    <div class="led-images">
      <div class="led-image-item">
        <img 
          ngSrc="/led1.webp" 
          alt="LED/UV Curing System 1" 
          width="800" 
          height="600"
          priority
          class="led-image">
      </div>
      <div class="led-image-item">
        <img 
          ngSrc="/led2.webp" 
          alt="LED/UV Curing System 2" 
          width="800" 
          height="600"
          priority
          class="led-image">
      </div>
    </div>
  </div>
</div>
